[Desktop Entry]
Encoding=UTF-8
Name=Link to [positively_regulates relation]
Type=Link
URL=http://a2-static1.stanford.edu/images/positively_regulates.gif
Icon=image-gif
